{% extends "base.html" %}
{% block Chatbox_active %}active{% endblock Chatbox_active %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <!-- Sidebar for Chat Rooms -->
            <div class="col-md-2">
                <div class="card shadow-lg">
                    <div class="card-header bg-secondary text-white">
                        <h5>Inbox</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for room in rooms %}
                        <li class="list-group-item " {% if room.name == room_name %} style='background-color:aliceblue;' {%endif %}>
                            <a href="{% url "chatroom" room.name %}" class="text-decoration-none text-dark">{{room.name}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                    <div class="m-2">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#MessageUserModal">
                            Message User
                        </button>
                    </div>
                    <!-- Message User Modal -->
                    <div class="modal fade" id="MessageUserModal" tabindex="-1" aria-labelledby="MessageUserModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="MessageUserModalLabel">Message User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url "messageUser" %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                placeholder="Enter the Username" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="message" class="form-label">Message</label>
                                            <textarea class="form-control" id="message" rows="3"
                                                placeholder="Enter your message" name="message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#GroupModal">Create
                            Group</button>
                    </div>
                    <!-- Create Group Modal -->
                    <div class="modal fade" id="GroupModal" tabindex="-1" aria-labelledby="GroupModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="GroupModalLabel">Create Group</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url "createGroup" %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="group-name" class="form-label">Group Name</label>
                                            <input type="text" class="form-control" id="group-name" name="groupname"
                                                placeholder="Enter Group Name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="group-members" class="form-label">Group Description</label>
                                            <input type="text" class="form-control" id="group-members" name="description"
                                                placeholder="(optional)">
                                        </div>
                                        <div class="mb-3">
                                            <label for="group-members" class="form-label">Add Members</label>
                                            <input type="text" class="form-control" id="group-members" name="members"
                                                placeholder="Enter usernames separated by commas" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% if room_name is not None %}
                <!-- Chat Box -->
                <div class="card  shadow-lg">
                    {% if chatroom.is_group %}
                    <div class="card-header bg-secondary">
                        <button class="text-white">{{room_name}}</button>
                    </div>
                    {% else %}
                    <div class="card-header bg-secondary text-white">
                        <button class="btn btn-secondary"><a class='text-white' href='{% url "userprofile" room_name %}'>{{room_name}}</a></button>
                    </div>
                    {% endif %}
                    <div class="card-body" style="height:400px; overflow-y: auto;" id="chat-log">
                    </div>
                    <div class="card-footer">
                        <input class='col-md-11' id="chat-message-input" type="text">
                        <input class="btn btn-secondary" id="chat-message-submit" type="button" value="Send">
                        <div>
                            <div>
                                {% else %}
                                <div class="col-md-9">
                                    <h5>Message a User for the message area to apear</h5>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}
{% block javascript %}
<script>
const roomName = "{{ room_name }}";
const currentUser = "{{ request.user }}"; // Store the current user
const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const chatLog = document.querySelector('#chat-log');
    const messageClass = data.username === currentUser ? 'msg_cotainer_send' : 'msg_cotainer';
    const timeClass = data.username === currentUser ? 'msg_time_send' : 'msg_time';
    const alignmentClass = data.username === currentUser ? 'justify-content-end' : 'justify-content-start';
    chatLog.innerHTML += `<div class="d-flex ${alignmentClass} mb-4"><div class="fs-4 ${messageClass}"><p>${data.message}<span class="text-muted fs-6 ${timeClass}">${data.timestamp}</span></p></div></div>`;
    chatLog.scrollTop = chatLog.scrollHeight;  // Scroll to the bottom
    };
chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
    };

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function (e) {
    const value = document.querySelector('#chat-message-input').value.trim();  // Trim whitespace
    if (value.length === 0) {  // If input is empty
    return;
    }
    if (e.keyCode === 13) {  // Enter key
    document.querySelector('#chat-message-submit').click();
    }
    };
document.querySelector('#chat-message-submit').onclick = function (e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value.trim();
    if (message.length === 0) {  // Check if the message is empty
    return;
    }
    chatSocket.send(JSON.stringify({
    'message': message
    }));
    messageInputDom.value = '';
};
</script>
{% endblock javascript %}