{% extends "base.html" %}
{% load forms_filters %}
{% block title %}Log-in{% endblock title %}
{% block content %}
<div class="bg-body-tertiary">
  {% for message in messages  %}
  <div class="alert alert-{{message.tags}} alert-dismissible mb-0 fade show" role="alert">
    <strong>Message :</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
<div class="d-grid justify-content-around mt-5 text-black" >
  <div class="border bg-body-tertiary p-3 shadow-lg" style="height: fit-content;">
    <form class="p-4" method="post" action="{% url "SignUp" %}">
        {% csrf_token %}
        <h1><center>Register your Account</center></h1>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="email" name="firstname" required/>
          <label for="firstname">Firstname</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="email" name="lastname" required/>
          <label for="lastname">Lastname</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="email" name="username" required/>
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="password" name="email" required/>
          <label for="password">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password1" required/>
          <label for="password1">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password2" required/>
          <label for="password2">Confirm Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
  </div>
</div>
{% endblock content %}