{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-grid justify-content-around mt-5" >
    <div class="border bg-body-tertiary p-3 shadow-lg" >
    <card class="p-4">
        <div class="card-header">
            <img src="{{userp.profile.image.url}}" alt="" class="rounded account-img">
            <hr>
        </div>
      <div class="mb-3">
        <label for="email">Username: </label>
        <span id="email" class=''>{{userp.username}}</span>
        <hr>
      </div>
      <div class="mb-3">
        <label for="email">Bio: </label>
        <span id="email" class=''>{% if userp.profile.bio %}{{userp.profile.bio}}{% endif %}</span>
        <hr>
      </div>
      {% if user.username == userp.username %}
      <div class="card-footer">
        <a href="{% url "userprofileEdit" %}">Edit your Profile</a>
      </div>
      {% endif %}
    </card>
    </div>
  </div>
{% endblock content %}
