{% extends "base.html" %}
{% load humanize %}
{% block Chatbox_active %}active{% endblock Chatbox_active %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar for Chat Rooms -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5>Chat Rooms</h5>
        </div>
        <ul class="list-group list-group-flush">
          {% for room in rooms %}
          <li class="list-group-item {% if room == chatroom%}active{% endif %}">
            <a href="{% url "chatroom" room.id %}"
              class="text-decoration-none {% if room == chatroom %}text-white{% else %}text-dark{% endif %}">{{room.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="m-2">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#MessageUserModal">
            Message User
          </button>
        </div>
        <!-- Message User Modal -->
        <div class="modal fade" id="MessageUserModal" tabindex="-1" aria-labelledby="MessageUserModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="MessageUserModalLabel">Message User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url "messageUser" %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                      placeholder="Enter the Username" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Enter your message" name="message"
                      required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="m-2">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#GroupModal">Create Group</button>
        </div>
        <!-- Create Group Modal -->
        <div class="modal fade" id="GroupModal" tabindex="-1" aria-labelledby="GroupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="GroupModalLabel">Create Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url "createGroup" %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="group-name" class="form-label">Group Name</label>
                    <input type="text" class="form-control" id="group-name" name="groupname"
                      placeholder="Enter Group Name" required>
                  </div>
                  <div class="mb-3">
                    <label for="group-members" class="form-label">Group Description</label>
                    <input type="text" class="form-control" id="group-members" name="description"
                      placeholder="(optional)">
                  </div>
                  <div class="mb-3">
                    <label for="group-members" class="form-label">Add Members</label>
                    <input type="text" class="form-control" id="group-members" name="members"
                      placeholder="Enter usernames separated by commas" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if chatroom is not None %}
    <!-- Chat Box -->
    <div class="col-md-9">
      <div class="card">
        {% if chatroom.is_group %}
        <div class='card-header bg-dark text-white'>
          <button class='btn btn-dark' data-bs-toggle='modal' data-bs-target='#Group'>{{chatroom.name}}</button>
        </div>
        <div class="modal fade" id="Group" tabindex="-1" aria-labelledby="Group" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Group">Group information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <p for="group-name" class="form-label">Group Name: {{chatroom.name}}</p>
                  </div>
                  {% if group.description != None %}
                  <div class="mb-3">
                    <p for="group-members" class="form-label">Group Description: {{chatroom.description}} </p>
                  </div>
                  {% endif %}
                  <div class="mb-3">
                    <p for="group-members" class="form-label">Group Members</p>
                    <div class="ms-lg-5">
                        {% for member in chatroom.members.all  %}
                          <p for="group-members" class="form-label">@{{member.username}}</p>
                        {% endfor %}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="card-header bg-dark text-white">
          <h5>{{ chatroom.name }}</h5>
        </div>
        {% endif %}
        <div class="card-body" id="chatbox" style="height: 400px; overflow-y: scroll;">
          {% for message in chatroom.messages.all %}
          <div class="chat-message ">
            <div
              class="d-flex {% if message.sender == request.user %}justify-content-end{% else %}justify-content-start{% endif %} mb-4">
              {% if message.sender != request.user %}
              <div class=" img_cont_msg mb-2">
                <span class="text-muted fs-6 {% if message.sender == request.user %}msg_time_send{% else %}msg_time{% endif %}">{{message.sender}} {{message.timestamp|naturaltime}}</span>
              </div>
              <div class=" fs-4  {% if message.sender == request.user %}msg_cotainer_send{% else %}msg_cotainer{% endif %}">
                <p>{{ message.content }} </p>
              </div>
              {% else %}
              <div class="fs-4 {% if message.sender == request.user %}msg_cotainer_send{% else %}msg_cotainer{% endif %}">
                <p>{{ message.content }} <span class="text-muted fs-6 {% if message.sender == request.user %}msg_time_send{% else %}msg_time{% endif %}">{{message.timestamp|naturaltime}}</span></p>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="card-footer">
          <form method="post" action="{% url "sendmessage" chatroom.id %}">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name="message" id="chat-message-input" class="form-control"
                placeholder="Type your message here..." name="message" aria-label="Message"
                aria-describedby="button-addon2">
              <button class="btn btn-primary ms-2" type="submit" id="chat-message-submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-9">
      <h5>Message a User for the message area to apear</h5>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}